{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, fringilla dictum interdum semper venenatis vitae nulla, leo nostra nec feugiat bibendum pretium. Accumsan tempus dui urna malesuada ante nisi integer litora, fermentum nullam nunc aptent elementum imperdiet habitasse ornare facilisi, nascetur ac posuere proin massa purus augue. Vivamus curabitur sociosqu vulputate lobortis placerat scelerisque laoreet facilisis, magna cum a rutrum netus orci sem sodales et, sollicitudin habitant quam lacus cursus turpis metus. In varius taciti praesent tellus class torquent sociis primis sapien justo, volutpat libero mollis etiam blandit ut quis donec per, id diam hendrerit vel potenti dapibus curae iaculis nibh.</p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">
                Signin
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}